.Rproj.user
.Rhistory
.RData
.Ruserdata

HW2/1425917.pdf

HW2/A. B. Kurzhanski, K. Sigmund (auth.), A. B. Kurzhanski, K. Sigmund (eds.)-Evolution and Control in Biological Systems_ Proceedings of the IIASA Workshop, Laxenburg, Austria, 30 November – 4 December 1.pdf

HW2/trees.key
